.login-form {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login-div {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(100, 100, 100, 0.1);
    margin: 20px auto;
}

.bg-white {
    background-color: #ffffff;
}

.text-muted {
    color: #8692A6;
}

.text-primary {
    color: #2C73EB;
}

.btn-primary {
    background-color: #2C73EB;
    color: #ffffff;
}

#left-div img.border {
    border: 2px solid #000;
    border-radius: 5px;
}

.form-check {
    margin-bottom: 30px;
}
label {
    color: #8692A6;
}